AI_Code/YOLOv8
AI_Code/images
AI_Code/images.zip.gpg
AI_Code/images_reject
AI_Code/runs
AI_Code/training_data
AI_Code/yolov8n.pt
Server/models
Server/output
Text_AI/dataset
Text_AI/dataset12_26
Text_AI/dataset12_27
Text_AI/dataset1_31
Text_AI/dataset_old
Text_AI/model
Text_AI/venv
Text_AI/datasetold/

Text_AI/dataset2_7/
